@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Apple Store</h1>
    <p class="lead">Apple Store is a free Apple Online Store which Store the Address of the stores and the Products they are selling in different Country and location given
                    helps the user to navigate towards Direction.</p>
    <p><a href="https://locate.apple.com/" class="btn btn-primary btn-lg">Learn More&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2> Contact Support</h2>
        <p>
            Get support by phone or chat, set up a repair, or make a Genius Bar reservation for iPhone, iPad, Mac, and more. </p>
        <p><a class="btn btn-default" href="https://support.apple.com/contact">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Acessories</h2>
        <p>Find the accessories you’re looking for.</p>
        <p>Fit the covers and Cases and the Bags for the professional Use</p>
        <p><a class="btn btn-default" href="https://www.apple.com/shop/accessories/all-accessories">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>GitHub</h3>
        <p>You can check programs and application developed by me on my GITHUB.</p>
        <a href="https://github.com/prit1997" title="GitHub" target="_blank">
            <img src="~/Content/Images/GitHub.png" alt="GitHub" > 
        </a>
    </div>
    <div class="col-md-4">
        <h3>LinkedIn</h3>
        <p>For More Jobs Oppurtunity in Apple.</p>
        <a href="https://www.linkedin.com/company/162479/" title="LinkedIn" target="_blank">
            <img src="~/Content/Images/linkedin.png" alt="LinkedIn" >
        </a>
    </div>
    <div class="col-md-4">
        <h3>FaceBook</h3>
        <p>For More information About Apple on FaceBook.</p>
        <a href="https://www.facebook.com/apple/?ref=br_rs" title="Facebook" target="_blank">
            <img src="~/Content/Images/facebook.png" alt="Facebook" >
        </a>
    </div>
    <div class="col-md-4">
        <h3>Twitter</h3>
        <p>For More Tweets About Apple.</p>
        <a href="https://twitter.com/AppleSupport " title="Twitter" target="_blank">
            <img src="~/Content/Images/twitter.png" alt="Twitter" >
        </a>
    </div>
    <div class="col-md-4">
        <h3>YouTube</h3>
        <p>For More Videos About Apple.</p>
        <a href="https://www.youtube.com/user/Apple" title="Youtube" target="_blank">
            <img src="~/Content/Images/yt.jpeg" alt="YouTube"  >
        </a>
    </div>
</div>