@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Apple Store</h1>
    <p class="lead">Apple Store is a free Apple Online Store which Store the Address of the stores and the Products they are selling in different Country and location given
                    helps the user to navigate towards Direction.</p>
    <p><a href="https://locate.apple.com/" title="Find Location" target="_blank" >
        <img src="~/Content/Images/location.png" alt="Find Location" /></a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2> Contact Support</h2>
        <p>
            Get support by phone or chat, set up a repair, or make a Genius Bar reservation for iPhone, iPad, Mac, and more. </p>
        <p><a href="https://support.apple.com/contact" title="Contact Support" target="_blank">
            <img src="~/Content/Images/contactsupport.png" alt="Contact Support" /></a></p>
    </div>
    <div class="col-md-4">
        <h2>Acessories</h2>
        <p>Find the accessories you’re looking for.</p>
        <p>Fit the covers and Cases and the Bags for the professional Use</p>
        <p><a href="https://www.apple.com/shop/accessories/all-accessories"  title="Accessories" target="_blank" >
        <img src="~/Content/Images/accessories.png" alt="Accessories" /></a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>GitHub</h3>
        <p>You can check programs and application developed by me on my GITHUB.</p>
        <a href="https://github.com/prit1997" title="GitHub" target="_blank">
            <img src="~/Content/Images/GitHub.png" alt="GitHub" /> 
        </a>
    </div>
    <div class="col-md-4">
        <h3>LinkedIn</h3>
        <p>For More Jobs Oppurtunity in Apple.</p>
        <a href="https://www.linkedin.com/company/162479/" title="LinkedIn" target="_blank">
            <img src="~/Content/Images/linkedin.png" alt="LinkedIn" />
        </a>
    </div>
    <div class="col-md-4">
        <h3>FaceBook</h3>
        <p>For More information About Apple on FaceBook.</p>
        <a href="https://www.facebook.com/apple/?ref=br_rs" title="Facebook" target="_blank">
            <img src="~/Content/Images/facebook.png" alt="Facebook" />
        </a>
    </div>
    <div class="col-md-4">
        <h3>Twitter</h3>
        <p>For More Tweets About Apple.</p>
        <a href="https://twitter.com/AppleSupport " title="Twitter" target="_blank">
            <img src="~/Content/Images/twitter.png" alt="Twitter" />
        </a>
    </div>
    <div class="col-md-4">
        <h3>YouTube</h3>
        <p>For More Videos About Apple.</p>
        <a href="https://www.youtube.com/user/Apple" title="Youtube" target="_blank">
            <img src="~/Content/Images/yt.jpeg" alt="YouTube" />
        </a>
    </div>
    <div class="col-md-5">
        <h2>Apple Store</h2>
        <p>Locaton of Apple Service Station.</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d184622.21975410337!2d-79.59003039810104!3d43.695538785950724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sapple+store+toronto!5e0!3m2!1sen!2sca!4v1513109923862" 
                width="1150" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
        </a>
    </div>
</div>